[submodule "Server"]
	path = Server
	url = https://github.com/kostaskol/WebApplicationTechnologies-Server
[submodule "Client"]
	path = Client
	url = https://github.com/kostaskol/WebApplicationTechnologies-Client
